/* Footer.css */
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #cf88e7;
    color: white;
    bottom:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center;
  }
  
  .redes-text{
    color:white;
  }

  .ilogo{
    color: white;
    padding:8px;
  }