/* src/App.css */

body, #root, .App {
  margin-top: 55px;
  padding: 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: #beaede;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  background-color: #beaede;
}

.content-container {
  padding: 20px; /* Adjust padding as needed */
  width: 100%;
  max-width: 1200px; /* Set a max width for better readability */
}
